:root {
  --main-color: #ed6436;
  --main-text-color: #030;
}

* {
  box-sizing: content-box;
}

body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html {
  font-family: "Nunito", sans-serif;
}
button {
  font-family: "Nunito", sans-serif;
}

.main-title {
  color: var(--main-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 900px) {
  .main-title {
    font-size: 1.4rem;
    text-align: left;
  }
}

.subtitle {
  font-size: 2.5 rem;
  margin-top: 20px;
  color: var(--main-text-color);
  text-align: center;
}
@media (min-width: 900px) {
  .subtitle {
    font-size: 3.5rem;
    text-align: left;
  }
}

.button {
  border: 2px solid var(--main-color);
  border-radius: 0 30px 30px 30px;
  text-transform: uppercase;
}
.button--big {
  padding: 0.5rem 1rem;
}
.button--solid {
  background-color: var(--main-text-color);
}
.button:hover {
  background: transparent;
  color: orange;
}

.fotos {
  display: flex;
}
