html {
  font-family: "Nunito", sans-serif;
}

.titles {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.h1 {
  color: orange;
  font-size: 1rem;
}

.h2 {
  font-size: 4rem;
}
