:root {
  --main-color: #ed6436;
  --main-text-color: #030;
}

* {
  box-sizing: content-box;
}

body {
  margin: 0;
}

html {
  font-family: "Nunito", sans-serif;
}

.titles {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.h1 {
  color: orange;
  font-size: 1rem;
}

.h2 {
  font-size: 4rem;
}

.button {
  background-color: orange;
  border-radius: 0 30px 30px 30px;
  color: white;
  border: 1px solid orangered;
  padding: 20px;
  margin-bottom: 20px;
}

.button:hover {
  background: transparent;
  color: orange;
}

.fotos {
  display: flex;
}
